In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
obj = pd.Series([4,7,-5,3])

In [4]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj.values

array([ 4,  7, -5,  3])

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
obj2 = pd.Series([4,7,-5,3]),index=['d','b','a','c']

SyntaxError: can't assign to function call (<ipython-input-7-0fab18a409c8>, line 1)

In [8]:
obj2 = pd.Series([4,7,-5,3])
index=['d','b','a','c']

In [9]:
obj2

0    4
1    7
2   -5
3    3
dtype: int64

In [10]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
obj2.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
obj2 = pd.Series([4,7,-5,3],
index=['d','b','a','c'])

In [13]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [14]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [15]:
obj2['a']

-5

In [16]:
obj2['d'] = 6

In [17]:
obj2[['c','a','d']]

c    3
a   -5
d    6
dtype: int64

In [18]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [19]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [20]:
np.exp(obj2)

NameError: name 'np' is not defined

In [21]:
import numpy as np

In [22]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [23]:
'b' in obj2

True

In [24]:
'e' in obj2

False

In [25]:
sdata = {'Ohio':35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}

In [26]:
obj3 = pd.Series(sdata)

In [27]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [28]:
states = ['California','Ohio','Oregon','Texas']

In [29]:
obj4 = pd.Series(sdata,index=states)

In [30]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [31]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [32]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [33]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [34]:
obj4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [35]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [36]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [37]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [38]:
obj4.name = 'population'

In [39]:
obj4.index.name = 'state'

In [40]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [41]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [42]:
obj.index = ['Bob','Steve','Jeff','Ruan']

In [43]:
obj

Bob      4
Steve    7
Jeff    -5
Ruan     3
dtype: int64

In [44]:
data = {'state',:['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
       'year':[2000,2001,2002,2001,2002,2003],
       'pop:[1.5,1.7,3.6,2.4,2.9,3.2]'}
frame = pd.Dataframe(data)

SyntaxError: invalid syntax (<ipython-input-44-9efcef65e16d>, line 1)

In [45]:
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
       'year':[2000,2001,2002,2001,2002,2003],
       'pop:[1.5,1.7,3.6,2.4,2.9,3.2]'}
frame = pd.Dataframe(data)

SyntaxError: invalid syntax (<ipython-input-45-9ef9701c9d87>, line 3)

In [46]:
data = {'state',:['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
       'year':[2000,2001,2002,2001,2002,2003],
       'pop:[1.5,1.7,3.6,2.4,2.9,3.2]}
frame = pd.Dataframe(data)

SyntaxError: invalid syntax (<ipython-input-46-fbd5f0c20f5e>, line 1)

In [47]:
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
       'year':[2000,2001,2002,2001,2002,2003],
       'pop:[1.5,1.7,3.6,2.4,2.9,3.2]}
frame = pd.Dataframe(data)

SyntaxError: EOL while scanning string literal (<ipython-input-47-27899bf4c2c2>, line 3)

In [48]:
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
       'year':[2000,2001,2002,2001,2002,2003],
       'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}
frame = pd.Dataframe(data)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [49]:
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
       'year':[2000,2001,2002,2001,2002,2003],
       'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}
frame = pd.Dataframe(data)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [50]:
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
       'year':[2000,2001,2002,2001,2002,2003],
       'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}
frame = pd.DataFrame(data)

In [51]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [52]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [53]:
frame.name('population')

AttributeError: 'DataFrame' object has no attribute 'name'

In [54]:
frame.name = 'POpulation'

In [55]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [56]:
frame(title='population')

TypeError: 'DataFrame' object is not callable

In [57]:
pd.DataFrame(data, columns = ['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [58]:
pd.DataFrame(data,title = 'population',column = ['state'])

TypeError: __init__() got an unexpected keyword argument 'title'

In [59]:
frame2 = pd.DataFrame(data, columns = ['year','state','pop','debt'],
                     ....:index = ['one','two','three','four','five','six'])

In [60]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [61]:
frame2 = pd.DataFrame(data, columns = ['year','state','pop','debt'],
                     ....:index = ['one','two','three','four','five','six'],
                     data.index.name='Test')

SyntaxError: keyword can't be an expression (<ipython-input-61-f24ee399db18>, line 3)

In [62]:
frame2.column

AttributeError: 'DataFrame' object has no attribute 'column'

In [63]:
frame2 = pd.DataFrame(data, columns = ['year','state','pop','debt'],
                     ....:index = ['one','two','three','four','five','six'])

In [64]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [65]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [66]:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [67]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [68]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [69]:
frame2['debt'] = 16.5

In [70]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

In [71]:
frame2['debt'] = np.arange(6.)

In [72]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [73]:
frame2 = np.arange(5)

In [74]:
frame2

array([0, 1, 2, 3, 4])

In [75]:
frame2['debt'] = np.arange(5)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [76]:
frame2['debt'] = np.arange(5.)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [77]:
frame2['debe'] = np.arange(6.)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [78]:
frame2['debt'] = 16.5

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [79]:
val = pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])

In [80]:
frame2['debt'] = val

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [81]:
frame2 = pd.DataFrame(data, columns = ['year','state','pop','debt'],
                     ....:index = ['one','two','three','four','five','six'])

In [82]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [83]:
frame2['debt'] = 16.5

In [84]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

In [85]:
frame2['debt'] = np.arange(6.)

In [86]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [87]:
val = pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])

In [88]:
frame2['debt'] = val

In [89]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [90]:
frame2['estern'] = frame2.state == 'Ohio'

In [91]:
frame2

       year   state  pop  debt  estern
one    2000    Ohio  1.5   NaN    True
two    2001    Ohio  1.7  -1.2    True
three  2002    Ohio  3.6   NaN    True
four   2001  Nevada  2.4  -1.5   False
five   2002  Nevada  2.9  -1.7   False
six    2003  Nevada  3.2   NaN   False

In [92]:
del frame2['eastern']

KeyError: 'eastern'

In [93]:
frame2.columns

Index(['year', 'state', 'pop', 'debt', 'estern'], dtype='object')

In [94]:
help(del)

SyntaxError: invalid syntax (<ipython-input-94-ab90b85f1620>, line 1)

In [95]:
frame3 = pd.DataFrame(pop)

NameError: name 'pop' is not defined

In [96]:
pop = {'Nevada':{2001:2.4,2002:2.9},
      'Ohio':{2000:1.5,2001:1.7,2002:3.6}}

In [97]:
frame3 = pd.DataFrame(pop)

In [98]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [99]:
frame2

       year   state  pop  debt  estern
one    2000    Ohio  1.5   NaN    True
two    2001    Ohio  1.7  -1.2    True
three  2002    Ohio  3.6   NaN    True
four   2001  Nevada  2.4  -1.5   False
five   2002  Nevada  2.9  -1.7   False
six    2003  Nevada  3.2   NaN   False

In [100]:
del frame2['eastern']

KeyError: 'eastern'

In [101]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [102]:
frame3.T

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

In [103]:
pd.DataFrame(pop,index=[2001,2002,2003])

AttributeError: 'list' object has no attribute 'astype'

In [104]:
pdata = {'Ohio':frame3['Ohio'][:1],
        'Nevada':frame3['Nevada'][:2]}

In [105]:
pd.DataFrame(pdata)

      Ohio  Nevada
2000   1.5     NaN
2001   NaN     2.4

In [106]:
pdata = {'Ohio':frame3['Ohio'][:-1],
        'Nevada':frame3['Nevada'][:2]}

In [107]:
pd.DataFrame(pdata)

      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4