In [1]:
import pandsa as pd

ModuleNotFoundError: No module named 'pandsa'

In [2]:
import pandas as pd

In [3]:
obj = pd.Series(range(3),index=['a','b','c'])

In [4]:
index = obj.index

In [5]:
index

Index(['a', 'b', 'c'], dtype='object')

In [6]:
index[1:]

Index(['b', 'c'], dtype='object')

In [7]:
index[0:]

Index(['a', 'b', 'c'], dtype='object')

In [9]:
index[3:]

Index([], dtype='object')

In [10]:
import numpy as np

In [11]:
labels = pd.Index(np.arange(3))

In [12]:
labels

Int64Index([0, 1, 2], dtype='int64')

In [13]:
obj2 = pd.Series[1.5,-2.5,0],index=labels)

SyntaxError: invalid syntax (<ipython-input-13-0a9e9f8f3ee7>, line 1)

In [14]:
obj2 = pd.Series([1.5,-2.5,0],index=labels)

In [15]:
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [16]:
obj2.index is labels

True

In [17]:
frame3

NameError: name 'frame3' is not defined

In [18]:
pop = {'Nevada':{2001:2.4,2002:2.9},
      'Ohio:':{2000:1.5,2001:1.7,2002:3.6}}

In [19]:
frame3 = pd.DataFrame(pop)

In [20]:
frame3

      Nevada  Ohio:
2000     NaN    1.5
2001     2.4    1.7
2002     2.9    3.6

In [21]:
frame3.T

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio:    1.5   1.7   3.6

In [22]:
frame3

      Nevada  Ohio:
2000     NaN    1.5
2001     2.4    1.7
2002     2.9    3.6

In [23]:
frame3.columns

Index(['Nevada', 'Ohio:'], dtype='object')

In [24]:
'Ohio' in frame3.columns

False

In [25]:
dup_labels = pd.Index{['foo','foo','bar','bar']}

SyntaxError: invalid syntax (<ipython-input-25-524f02bab367>, line 1)

In [26]:
dup_labels = pd.Index(['foo','foo','bar','bar'])

In [27]:
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')

In [28]:
obj = pd.Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])

In [29]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [30]:
obj = pd.reindex(['a','b','\v','d','e'])

AttributeError: module 'pandas' has no attribute 'reindex'

In [31]:
obj2 = obj.reindex(['a','b','\v','\v','e'])

In [32]:
obj.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [33]:
obj2.index

Index(['a', 'b', '
', '
', 'e'], dtype='object')

In [34]:
obj2

a   -5.3
b    7.2

    NaN

    NaN
e    NaN
dtype: float64

In [35]:
obj3 = pd.Series(['blue','purple','yellow'],inde=[0,2,4])

TypeError: __init__() got an unexpected keyword argument 'inde'

In [36]:
obj3 = pd.Series(['blue','purple','yellow'],index=[0,2,4])

In [37]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [38]:
obj3.reindex(range(6),mothod='ffill')

TypeError: reindex() got an unexpected keyword argument "mothod"