In [1]:
import pandas as pd

In [2]:
index = obj.index

NameError: name 'obj' is not defined

In [3]:
obj = pd.Series(rang(3),index=['a','b','c'])

NameError: name 'rang' is not defined

In [4]:
obj = pd.Series(rangd(3),index=['a','b','c'])

NameError: name 'rangd' is not defined

In [5]:
obj = pd.Series(range(3),index=['a','b','c'])

In [6]:
index = obj.index

In [7]:
index

Index(['a', 'b', 'c'], dtype='object')

In [8]:
    labels = pd.Index(np.arange(3))

NameError: name 'np' is not defined

In [9]:
import numpy as np

In [10]:
labels = pd.Index(np.arange(3))

In [11]:
labels

Int64Index([0, 1, 2], dtype='int64')

In [12]:
obj2 = pd.Series([1.5,-2.5,0], index=labels)

In [13]:
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [14]:
obj2.index is labels

True

In [15]:
frame3 = {['states':'Nevada', 'Ohio'],

SyntaxError: invalid syntax (<ipython-input-15-7d87e48e82a8>, line 1)

In [16]:
frame3 = {'states':['Nevada', 'Ohio'],
          'year':[2000,2001,2002]}

In [17]:
frame3

{'states': ['Nevada', 'Ohio'], 'year': [2000, 2001, 2002]}

In [18]:
frame3 = pd.DataFrame('state':['Nevada', 'Ohio'],
                      'year':[2000,2001,2002])

SyntaxError: invalid syntax (<ipython-input-18-28ce4cf2fee8>, line 1)

In [19]:
frame3 = pd.DataFrame{'state':['Nevada', 'Ohio'],
                      'year':[2000,2001,2002]}

SyntaxError: invalid syntax (<ipython-input-19-d43c758aeebe>, line 1)

In [20]:
frame3 = pd.DataFrame(['state':'Nevada', 'Ohio'],
                      ['year':2000,2001,2002])

SyntaxError: invalid syntax (<ipython-input-20-182332c99c98>, line 1)

In [21]:
data = {'state':['Nevada','Ohio',],
        'year':[2000,2001],
        'pop':[1.5,1.7]}

In [22]:
frame = pd.DataFrame(data)

In [23]:
frame

    state  year  pop
0  Nevada  2000  1.5
1    Ohio  2001  1.7

In [24]:
pd.DataFrame(data, columns = ['pop','year','state'])

   pop  year   state
0  1.5  2000  Nevada
1  1.7  2001    Ohio

In [25]:
frame

    state  year  pop
0  Nevada  2000  1.5
1    Ohio  2001  1.7

In [26]:
pd.DataFrame(data,index=False)

TypeError: object of type 'bool' has no len()

In [27]:
frame2 = pd.DataF,rame(data,columns=['states','pop','years'],
                      index=['One','two','three'])

AttributeError: module 'pandas' has no attribute 'DataF'

In [28]:
frame2 = pd.DataFrame(data,columns=['states','pop','years'],
                      index=['One','two','three']

SyntaxError: unexpected EOF while parsing (<ipython-input-28-c7102f2e8b21>, line 2)

In [29]:
frame2 = pd.DataFrame(data,columns=['states','pop','years'],
                      index=['One','two','three'])

ValueError: Shape of passed values is (3, 2), indices imply (3, 3)

In [30]:
frame2 = pd.DataF,rame(data,columns=['states','pop','years'],
                      index=['One','two','three']

SyntaxError: unexpected EOF while parsing (<ipython-input-30-1de18738494a>, line 3)

In [31]:
obj = pd.Series([4,,7,-5,3])

SyntaxError: invalid syntax (<ipython-input-31-60c909f53752>, line 1)

In [32]:
obj = pd.Series([4,-5,7,3])

In [33]:
obj

0    4
1   -5
2    7
3    3
dtype: int64

In [34]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
obj.value

AttributeError: 'Series' object has no attribute 'value'

In [36]:
obj.values

array([ 4, -5,  7,  3])

In [37]:
obj2 = pd.Series([4,-5,7,3], index=['d','b','a','c'])

In [38]:
obj2

d    4
b   -5
a    7
c    3
dtype: int64

In [39]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [40]:
obj2['a']

7

In [41]:
obj2['d']

4

In [42]:
obj2['a','b','c']

KeyError: ('a', 'b', 'c')

In [43]:
obj2[['a','b','c']]

a    7
b   -5
c    3
dtype: int64

In [44]:
obj2[obj2>0]

d    4
a    7
c    3
dtype: int64

In [45]:
obj2*2

d     8
b   -10
a    14
c     6
dtype: int64

In [46]:
ob2-1

NameError: name 'ob2' is not defined

In [47]:
obj2-1

d    3
b   -6
a    6
c    2
dtype: int64

obj2^2

In [48]:
obj2

d    4
b   -5
a    7
c    3
dtype: int64

In [49]:
obj2^

SyntaxError: invalid syntax (<ipython-input-49-786b5181b32d>, line 1)

obj2+obj2

In [50]:
obj2+obj2

d     8
b   -10
a    14
c     6
dtype: int64

In [51]:
import numpy as np

In [52]:
np.exp(obj2)

d      54.598150
b       0.006738
a    1096.633158
c      20.085537
dtype: float64

In [53]:
'b' in obj2

True

In [54]:
'e' in obj2

False

In [55]:
Dir={'name':['hanxiao','huyiyang','pangbao'],
    'age':[28,26,1.5]}

In [56]:
pd.Series(Dir,index=False)

TypeError: Index(...) must be called with a collection of some kind, False was passed

In [57]:
pd.Series(Dir)

name    [hanxiao, huyiyang, pangbao]
age                    [28, 26, 1.5]
dtype: object

In [58]:
pds = pd.Series([1,2,3,4,5])

In [59]:
pds

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [60]:
pds.values

array([1, 2, 3, 4, 5])

In [61]:
pds.index

RangeIndex(start=0, stop=5, step=1)

In [62]:
pds1 = pd.Series(['name':'hanxiao','huyiyang','pangbao','zhangsan','lisi'])

SyntaxError: invalid syntax (<ipython-input-62-6b0cafe21016>, line 1)

In [63]:
pds[1]

2

In [64]:
pds1 = pd.Series([1,2,3,4,5], index=['one','two','three','four','five'])

In [65]:
pds1

one      1
two      2
three    3
four     4
five     5
dtype: int64

In [66]:
pds['one']

KeyError: 'one'

In [67]:
pds2['one']

NameError: name 'pds2' is not defined

In [68]:
pds1['one']

1

In [69]:
pds.index

RangeIndex(start=0, stop=5, step=1)

In [70]:
pds1.indez

AttributeError: 'Series' object has no attribute 'indez'

In [71]:
pds1.index

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [72]:
pds1.values

array([1, 2, 3, 4, 5])

In [73]:
pds1[['one','two','three']]

one      1
two      2
three    3
dtype: int64

In [74]:
pds1[pds1<2]

one    1
dtype: int64

In [75]:
pds1/2

one      0.5
two      1.0
three    1.5
four     2.0
five     2.5
dtype: float64

In [76]:
'6' in pds1

False

In [77]:
name_list = {'Dadda':'hanxiao','Mama':'yiyang','child':'pangbao'}

In [78]:
pd.Series(name_list)

Dadda    hanxiao
Mama      yiyang
child    pangbao
dtype: object

In [79]:
pds2 = pd.Series(name_list)

In [80]:
pds2

Dadda    hanxiao
Mama      yiyang
child    pangbao
dtype: object

In [81]:
gener = ['M','F','M']

In [82]:
pds2 = pd.Series(name_list,index=gener)

In [83]:
pds2

M    NaN
F    NaN
M    NaN
dtype: object

In [84]:
list = pd.Series([9,8,7,6,5])

In [85]:
list

0    9
1    8
2    7
3    6
4    5
dtype: int64

In [86]:
list1 = pd.Series([['hanxiao'],['yiyang'],['pangbao']])

In [87]:
list1

0    [hanxiao]
1     [yiyang]
2    [pangbao]
dtype: object

In [88]:
list2 = pd.Series(['hanxiao','yiyang','pangbao'])

In [89]:
list2

0    hanxiao
1     yiyang
2    pangbao
dtype: object

In [91]:
list3 list3 = pd.Series(['hanxiao','yiyang','pangbap'],index=['name1','name2','name3'])

SyntaxError: invalid syntax (<ipython-input-91-9849eda7eccb>, line 1)

In [92]:
list2 = pd.Series(['hanxiao','yiyang','pangbap'],index=[1,2,3])

In [93]:
list2

1    hanxiao
2     yiyang
3    pangbap
dtype: object

In [94]:
list2 = pd.Series(['hanxiao','yiyang','pangbap'],index=[name1,name2,name3])

NameError: name 'name1' is not defined

In [95]:
list2 = pd.Series(['hanxiao','yiyang','pangbap'],index=['name1','name2','name3'])

In [96]:
list2

name1    hanxiao
name2     yiyang
name3    pangbap
dtype: object

In [97]:
name1 = pd.Series(['baba','mama','son'])

In [98]:
nama1

NameError: name 'nama1' is not defined

In [99]:
name1

0    baba
1    mama
2     son
dtype: object

In [100]:
index1 = (['F','M','C'])

In [101]:
pd.Series(['baba','mama','son'],index=index1)

F    baba
M    mama
C     son
dtype: object

In [102]:
type(name1)

pandas.core.series.Series

In [103]:
name1.index

RangeIndex(start=0, stop=3, step=1)

In [104]:
name1.values

array(['baba', 'mama', 'son'], dtype=object)

In [105]:
name1*2

0    babababa
1    mamamama
2      sonson
dtype: object

In [106]:
name1+1

TypeError: must be str, not int

In [107]:
name1['baba']

KeyError: 'baba'

In [108]:
name1['F']

KeyError: 'F'

In [109]:
name1[1]

'mama'

In [110]:
n = {'F':'baba','M':'mama','C':'son'}

In [111]:
pd.Series(n,index=[1,2,3])

1    NaN
2    NaN
3    NaN
dtype: object

In [112]:
name2 = pd.Series(n,index=[1,2,3])

In [113]:
name2

1    NaN
2    NaN
3    NaN
dtype: object

In [114]:
name2 = pd.Series(n)

In [115]:
name2

F    baba
M    mama
C     son
dtype: object

In [116]:
n1 = ['baba','mama','son']

In [117]:
name3 = pd.Series(n1,index=['f','m','c'])

In [118]:
name3

f    baba
m    mama
c     son
dtype: object

In [119]:
name3 = pd.Series(n1,index=['Man','Woman','kid'])

In [120]:
name3

Man      baba
Woman    mama
kid       son
dtype: object

In [121]:
name3['Man']

'baba'

In [122]:
name4 = {'baba':'hanxiao','mama':'yiyang','son':'pangbao'}

In [123]:
name4_1 = pd.Series(name4)

In [124]:
name4_1

baba    hanxiao
mama     yiyang
son     pangbao
dtype: object

In [125]:
role = ['son','mama','baba']

In [126]:
name4_1 = pd.Series(name4,index=role)

In [127]:
name4_1

son     pangbao
mama     yiyang
baba    hanxiao
dtype: object

In [128]:
role1 = ['baba','mama','son','daughter']

In [129]:
name4_1 = pd.Series(name4,index=role1)

In [130]:
name4_1

baba        hanxiao
mama         yiyang
son         pangbao
daughter        NaN
dtype: object

In [131]:
pd.isnull(name4_1)

baba        False
mama        False
son         False
daughter     True
dtype: bool

In [132]:
pd.notnull(name4_1)

baba         True
mama         True
son          True
daughter    False
dtype: bool

In [133]:
name4_1.notnull()

baba         True
mama         True
son          True
daughter    False
dtype: bool

In [134]:
name4_1.index.name = 'role'

In [135]:
name4_1

role
baba        hanxiao
mama         yiyang
son         pangbao
daughter        NaN
dtype: object

In [136]:
name4_1.name='family'

In [137]:
name4_1

role
baba        hanxiao
mama         yiyang
son         pangbao
daughter        NaN
Name: family, dtype: object

In [138]:
name4_1.index=['father','mother','child','child']

In [139]:
name4_1

father    hanxiao
mother     yiyang
child     pangbao
child         NaN
Name: family, dtype: object

In [140]:
name5 = pd.DataFrame(n)

ValueError: If using all scalar values, you must pass an index

In [141]:
name5 = pd.DataFrame(n,index=[1,2,3,4])

In [142]:
name5

      F     M    C
1  baba  mama  son
2  baba  mama  son
3  baba  mama  son
4  baba  mama  son

In [143]:
name5.T

      1     2     3     4
F  baba  baba  baba  baba
M  mama  mama  mama  mama
C   son   son   son   son

In [144]:
n2 = {'F':['baba','grandpa'],
     'M':['mama','grandma'],
     'C':['son','grandson','daughter','granddaughter']}

In [145]:
Family_structure = pd.DataFrame(n2)

ValueError: arrays must all be same length

In [146]:
n2 = {'F':['baba','grandpa'],
     'M':['mama','grandma'],
     'C':['son','grandson']}

In [147]:
family_structure = pd.DataFrame(n2)

In [148]:
family_structure

         F        M         C
0     baba     mama       son
1  grandpa  grandma  grandson

In [149]:
family_structure = pd.DataFrame(n2,index=[1,2])

In [150]:
family_structur2

NameError: name 'family_structur2' is not defined

In [151]:
family_structrue

NameError: name 'family_structrue' is not defined

In [152]:
family_structrue

NameError: name 'family_structrue' is not defined

In [153]:
family_structure

         F        M         C
1     baba     mama       son
2  grandpa  grandma  grandson

In [154]:
family_structure = pd.DataFrame(n2,index=['generation_1','generation_2'])

In [155]:
family_structure

                    F        M         C
generation_1     baba     mama       son
generation_2  grandpa  grandma  grandson

In [156]:
family_structure.index = ['generation2','generation1']

In [157]:
family_structure

                   F        M         C
generation2     baba     mama       son
generation1  grandpa  grandma  grandson

In [158]:
family_structure.index = ['young_generation','old_generation']

In [159]:
family_structure

                        F        M         C
young_generation     baba     mama       son
old_generation    grandpa  grandma  grandson

In [160]:
family_structrue.head(1)

NameError: name 'family_structrue' is not defined

In [161]:
family_structure.head(1)

                     F     M    C
young_generation  baba  mama  son

In [162]:
family_structure.head(2)

                        F        M         C
young_generation     baba     mama       son
old_generation    grandpa  grandma  grandson

In [163]:
family_structure.columns = ['C','F','M']

In [164]:
family_structure

                        C        F         M
young_generation     baba     mama       son
old_generation    grandpa  grandma  grandson

In [165]:
family_structure.columns = ['C','F','M','N']

ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements

In [166]:
pd.DataFrame(n2,columns=['C','F','M','N'])

          C        F        M    N
0       son     baba     mama  NaN
1  grandson  grandpa  grandma  NaN

In [167]:
family_structure = pd.DataFrame(n2,columns=['C','F','M','N'])

In [168]:
family_structure

          C        F        M    N
0       son     baba     mama  NaN
1  grandson  grandpa  grandma  NaN

In [169]:
family_structure['F']

0       baba
1    grandpa
Name: F, dtype: object

In [170]:
family_structure.M

0       mama
1    grandma
Name: M, dtype: object

In [171]:
pd.DataFrame(n2,columns=['C','F','M','N'])

          C        F        M    N
0       son     baba     mama  NaN
1  grandson  grandpa  grandma  NaN

In [172]:
family_structure.loc['M']

KeyError: 'the label [M] is not in the [index]'

In [173]:
family_structure.loc[1]

C    grandson
F     grandpa
M     grandma
N         NaN
Name: 1, dtype: object

In [174]:
family_structure['N1']

KeyError: 'N1'

In [175]:
family_structure["N1'] = 'no'

SyntaxError: EOL while scanning string literal (<ipython-input-175-e924d73927e8>, line 1)

In [176]:
family_structure["N1'] = ['no']

SyntaxError: EOL while scanning string literal (<ipython-input-176-ed1325e0dd34>, line 1)

In [177]:
family_structure["N1'] = [1]

SyntaxError: EOL while scanning string literal (<ipython-input-177-8b919fa35b85>, line 1)

In [178]:
family_structure['N1'] = ['no']

ValueError: Length of values does not match length of index